maxtext @ git+https://github.com/AI-Hypercomputer/maxtext.git@8c2e29218c01b6287ba85e8d0dc9555561f7634c
maxtext-vllm-adapter @ git+https://github.com/AI-Hypercomputer/maxtext.git@8c2e29218c01b6287ba85e8d0dc9555561f7634c#subdirectory=src/maxtext/integration/vllm
aqtp
tokamax>=0.0.4
drjax>=0.1.4
ml-goodput-measurement
cloud-accelerator-diagnostics
cloud-tpu-diagnostics
google-cloud-mldiagnostics>=0.5.10
google-cloud-monitoring
einshape
typeguard
xprof
cheroot
